.popup__container {
  position: relative;
  max-width: 430px;
  max-height: 330px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: white;
  /* padding: 34px 36px 37px; */
  /* position: fixed; */
}
