.popup__input-text-error {
  display: block;
  padding: 0;
  margin: 0 auto;

  font-size: 12px;
  line-height: 1.25;
  font-style: normal;
  font-weight: 400;
  text-align: left;

  color: red;

  max-width: 358px;
  max-height: 47px;
  width: 100%;
  height: 100%;
}
