.profile__info {
  display: grid;
  grid-template-areas:
    "name edit"
    "descr .";
  align-items: baseline;

  row-gap: 10px;
  column-gap: 23px;

  margin: 0;
  padding: 0;
  /* margin-bottom: 50px; */
}
@media (max-width: 800px) {
  .profile__info {
    column-gap: 10px;
  }
}

@media (max-width: 600px) {
  .profile__info {
    margin-left: 28px;
    /* margin-top: 26px; */
    /* justify-content: space-between; */
    /* align-items: flex-end; */
    row-gap: 9px;
    /* grid-template-areas:
      "name edit"
      "descr descr"; */
  }
}
