.profile__info {
  display: grid;
  grid-template-areas:
    "name edit"
    "descr .";
  align-items: baseline;

  row-gap: 13px;
  column-gap: 22px;

  margin: 0;
  padding: 0;
  /* margin-bottom: 50px; */
}
